/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    position: fixed;
}

.sidebar-title {
    text-align: center;
    color: #ecf0f1;
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar-menu {
    list-style-type: none;
    padding-left: 0;
}

.sidebar-menu li {
    list-style-type: none;
    padding: 10px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar-menu li.active a {
    background-color: #007bff; /* Active background color */
    color: white; /* Active text color */
}

.sidebar-menu li a:hover {
    background-color: red; /* Hover background */
}